body {
    background-color: rgba(20, 18, 28, 0.695);
    margin: 0;
}
header {
    background-color: rgba(255, 255, 255, 0.607);
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}
nav {
  display: flex;
  align-items: center;
}
.head {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.25em;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 5px 5px -6px black;
}
.head:hover {
    background: rgb(84, 75, 75);
}
h1 {
    text-align: center;
}
.navlink {
  justify-content: space-around;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.25em;
    background: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 5px 5px -6px black;
  }
.navlink:hover {
  background: rgb(84, 75, 75);
}
#posts {
  margin: 1%;
}
#formcreatelogin {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#formsubmitlogin {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px; 
  }
#formaddposts {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px; 
}
#form-content {
  padding: 12px 44px;
  display: flex;
  flex-direction: column;
}
.form-content {
  padding-top: 14px;;    
}
button {
  background-color: black;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  height: 42.3px;
  margin: 2% auto;
  width: 153px;
}
button:hover {
  background: rgb(84, 75, 75);
}
#post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin-left: 2.5%;
}
#posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: min-content;
  padding-bottom: 2%;
  width: 329px;
  margin-left: 2.5%;
}
.postcontent {
  word-break: break-word;
  text-align: center;
}
p {
  text-align: center;
  overflow-wrap: break-all;
}
.navlink-posts {
  background-color: black;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  width: 153px;
  text-decoration: none;
}
.navlink-postscontent {
  background-color: black;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 20px;
  width: 153px;
  text-decoration: none;
  text-align: center;
}
.navlink-posts:hover {
  background: rgb(84, 75, 75);
}
.navlink-postscontent:hover {
  background: rgb(84, 75, 75);
}
#editposts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: min-content;
  padding-bottom: 2%;
  padding-top: 2%;
  width: 329px;
  margin-left: 2.5%;
}
.edit-content {
  padding: 2%;
}
.headernav {
  flex-grow: 3;
}